@font-face {
    font-family: 'saxmono';
    src: url("../fonts/saxmono-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'envy';
    src: url("../fonts/envy_code_r.eot");
    src: url("../fonts/envy_code_r.eot?#iefix") format('embedded-opentype'),
         url("../fonts/envy_code_r.woff2") format('woff2'),
         url("../fonts/envy_code_r.woff") format('woff'),
         url("../fonts/envy_code_r.ttf") format('truetype'),
         url("../fonts/envy_code_r.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "saxmono";
    font-size: 16px;
    background-color: #202224;
    color: #beced0;
}
.container {
	display: flex;
	flex-wrap: wrap
}
.section {
	margin: auto;
	width: 599px;
}
.row {
	display: flex;
}

.col {
	flex: 1 1 0%
}
.col-left {
	text-align: left;
}
.col-mid {
	text-align: center;
}
.col-right {
	text-align: right;
}
img#header {
	height: 43px;
	width: auto;
}

h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	font-weight: normal;
}
h1 {
	color: #cd6e42;
	margin: 0px;
}
h2,h3,h4,h5 {
	color: #646086
}
a {
    color: #62a8b2;
    text-decoration: none;
}
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #33708c;
    background: transparent;
}
hr {
    margin-top: 3px;
    margin-bottom: 1px;
    border-top: solid 1px #3d4047;
	border-bottom: #202224;
}
img[src*="#fitwidth"] {
	border: solid 1px #3d4047;
  	width:100%;

  	-ms-transition: transform 0.25s ease-in-out 0s;

  	-moz-transition: transform 0.25s ease-in-out 0s;

  	-webkit-transition: transform 0.25s ease-in-out 0s;

  	transition: transform 0.25s ease-in-out 0s;
}
img[src*="#fitwidth"]:hover {
  -ms-transform: scale(2.04);
  -ms-transition: transform 0.25s ease-in-out 0s;

  -moz-transform: scale(2.04);
  -moz-transition: transform 0.25s ease-in-out 0s;

  -webkit-transform: scale(2.04);
  -webkit-transition: transform 0.25s ease-in-out 0s;

  transform: scale(2.04);
  transition: transform 0.25s ease-in-out 0s;
}
table {
	border: 1px solid #3d4047;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #161719;
	padding: 2px;
}
table thead {
	text-transform: uppercase;
	text-align: left;
}
table tr th,
table tr td {
	border: 1px solid #3d4047;
	padding: 6px 13px;
}
.pagination > .container {
	justify-content: left;
}
.pagination > .container > div > a.active {
	color: #3d4047;
}
.content > h3 {
    color: #cd6e42;
    text-transform: uppercase;
}
.content > h4, h5 {
    color: #646086;
    text-transform: uppercase;
}
.content > .article.header > h1 {
	color: #646086;
}
.content > .article-container > .article.header > h1.article.title {
	color: #646086;
}
.content > .article-container > .article.markdown-body {
	line-height: 1.3em;
}
.content > .article-container > .article.markdown-body > ul {
    list-style: '- ';
}
.content > .article.navigation > .container {
	justify-content: space-between;
	text-transform: uppercase;
}
.content > ul.note.list {
	padding-left: 0px;
}
.content > ul.note.list > li.item {
    border: 2px solid #3d4047;
    border-radius: 5px;
    background-color: #161719;
    max-width: 90%;
    margin-left: 5%;
    color: #beced0;
	padding: 10px 20px;
	margin: 0 0 20px;
}
.content > ul.note.list > li.item > a {
    color: #beced0;
}
.content > ul.note.list > li.item:hover {
    border-color: #62a8b2;
}
.content > ul.note.list > li.item > a.note > p.note.title {
    color: #beced0;
    text-transform: uppercase;
}
.content > a {
    color: #33708c;
    text-decoration: none;
}
.content > p > a {
    color: #62a8b2;
    text-decoration: none;
}
.content > p > a:hover,
a:active,
a:focus {
    color: #33708c;
    text-decoration: none;
}
.content > ul > li > a {
    color: #33708c;
    text-decoration: none;
}
.content > ul > li > a:hover {
    color: #33708c;
    text-decoration: none;
}
ul {
    list-style: none;
}
pre {
    /*max-width: 70%;*/
    color: #dceef1;
    background-color: #161719;
    font-family: 'envy', mono;
    font-size: 13px;
    border-radius: 5px;
    border-color: #76b660;
    border-width: 1px;
    border-style: solid;
	padding: 9.5px;
	overflow: auto;
}
pre > code {
	background-color: #161719;
    font-family: 'envy', mono;
	padding: 0px;
}
code {
    color: #beced0;
    background-color: #3d4047;
    padding: 0px 3px 0px 3px;
    border-radius: 5px;
    font-family: 'envy', mono;
    font-size: 13px;
}
