{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 1 -}}

{{- $pageIndex := $paginator.PageNumber -}}
{{- $totalPages := $paginator.TotalPages -}}
{{- $cols := 5.0 -}}
{{- $rows := math.Ceil (div $totalPages $cols) -}}
{{- $row := math.Ceil (div $pageIndex $cols) -}}
{{- $startPage := sub (mul $row $cols) $cols -}}
{{- $endPage := add $startPage $cols -}}

<div class="pagination">
    <div class="container">
        {{- if gt $row 1 -}}
            <div>
				<a href="{{- $paginator.Prev.URL -}}" class="previous_page">&laquo;</a>
			</div>
        {{- end -}}

        {{- range $paginator.Pagers -}}
            {{- if and (gt .PageNumber $startPage) (le .PageNumber $endPage) -}}
                {{- $active := "" -}}
                {{- if eq .PageNumber $paginator.PageNumber -}}
                    {{- $active = "active" -}}
                {{- end -}}
                <div>
					<a class="{{- $active -}}" href="{{- .URL -}}">&nbsp;{{- .PageNumber -}}</a>
				</div>
            {{- end -}}
        {{- end -}}

        {{- if lt $row $rows -}}
            <div>
				<a href="{{- $paginator.Next.URL -}}" class="next_page">&raquo;</a>
			</div>
        {{- end -}}
    </div>
</div>
{{- end -}}
